﻿@using System.Web
@using System.Web.Optimization
@model DbWebManager.DAL.MsSqlConnectionModel

@{
    ViewBag.Title = "Log in Database Web Manager";
    var X = Html.X();
    Session["Ext.Net.Theme"] = Ext.Net.Theme.Neptune;
}

<div align="center">
    @(X.Panel()
          .Draggable(false)
          .WidthSpec("40%")
          .BodyStyle("border-radius: 10px;")
          .Items(
          )
                  .Html("<h1 style='color:#3892d3;'>Database Web Manager</h1>")
          )
</div>

@(X.ResourceManager())

@(X.Window()
      .ID("Login")
      .Title("Login Window")
      .Width(350)
      .Closable(false)
      .Draggable(false)
      .Items(
          Html.X().FormPanel()
              .ID("LoginForm")
              .DefaultAnchor("100%")
              .BodyPadding(6)
              .Items(
                  Html.X().TextFieldFor(m => m.ServerName).ID("ServerName"),
                  Html.X().CheckboxFor(m => m.UseWindowsIntegratedSecurity).Value(true).ID("UseWindowsIntegratedSecurity").Listeners(m => m.Change.Handler = "#{UserName}.setDisabled( this.getValue() == 1 );" + "#{Password}.setDisabled( this.getValue() == 1 );"),
                  Html.X().TextFieldFor(m => m.UserName).ID("UserName").Disabled(true),
                  Html.X().TextFieldFor(m => m.Password).ID("Password").Disabled(true)
              )
              .Buttons(
                  Html.X().Button().Text("Connect").DirectEvents
                      (de =>
                      {
                          de.Click.Url = Url.Action("Connect");
                          de.Click.Before = @"Ext.Msg.wait('Connecting to the server...', 'Connection');";
                      }
                      )
              )
      )
      )